<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240392501391-6afa0r08mabudfhnklq5tluci4djntig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240392501391-6afa0r08mabudfhnklq5tluci4djntig</string>
	<key>API_KEY</key>
	<string>AIzaSyBB4e5Oj7cCuZ-1deWlHtSgpAsPqKZbK-I</string>
	<key>GCM_SENDER_ID</key>
	<string>240392501391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yerycastro.TTTGame</string>
	<key>PROJECT_ID</key>
	<string>mytttgame-2728f</string>
	<key>STORAGE_BUCKET</key>
	<string>mytttgame-2728f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240392501391:ios:f42aff6589687cd7ef58fa</string>
</dict>
</plist>